@using CinemaStore.Helpers;
@using CinemaStore.Entities.Film
@using CinemaStore.Blogic.FilmCrew
@model CinemaStore.Areas.Admin.Models.FilmCrewModel
@{
    ViewBag.Title = "Категории";
    Model.ClassName = "btn btn-secondary";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-7 col-xs-12">

            <table class="table">
                <thead class="thead-dark tbl-header">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Группа</th>
                        <th scope="col">Дата создания записи</th>
                        <th scope="col">
                            @using (Html.BeginForm("Index", "FilmCrew", FormMethod.Get, new { id = "frm" }))
                            {
                                @Html.HiddenFor(x => x.Page)
                                @Html.DropDownListFor(x => x.CountOnPage, Model.SelectCountIitemsOnPage, "Кол-во на странице", new { @class = "" })
                            }

                        </th>
                        <th scope="col">
                            <a href="/admin/filmcrew/edit" class="btn btn-light">Добавить</a>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FilmCrew ?? new List<FilmCrewEntity>())
                    {
                        string groupName = Enum.GetName(typeof(FilmCrewGroup), item.Group);
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.GivenName</td>
                            <td>@item.FamilyName</td>
                            <td>@item.Patronymic</td>
                            <td>@groupName</td>
                            <td>@item.DateCreate</td>
                            <td>
                                <a href="/admin/filmcrew/edit/@item.Id" class="btn btn-primary">Редактировать</a>
                            </td>
                            <td>
                                @using (Html.BeginForm("Delete", "FilmCrew", FormMethod.Post))
                                {
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.TotalItems > 0)
            {
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        @Html.Pagination(Model, x => Url.Action("Index", new { Page = x, CountOnPage = Model.CountOnPage }))
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $("#CountOnPage").change(function () {
                $("#frm").submit();
            });
        })
    </script>
}
